<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}"/>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" type="text/css"/>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>