{% extends "_base.html" %}

{% block script %}
<script>
    htmx.on('htmx:afterSwap', function (event) {
        document.getElementById("contentInput").value = ""
    });
</script>
{% endblock %}


{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs leading-4 text-gray-600 uppercase tracking-wider">
                        Name
                    </th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs leading-4 text-gray-600 uppercase tracking-wider">
                        Category
                    </th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs leading-4 text-gray-600 uppercase tracking-wider">
                        Model
                    </th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs leading-4 text-gray-600 uppercase tracking-wider">
                        Description
                    </th>
                </tr>
            </thead>
            <tbody id="productList" class="bg-white divide-y divide-gray-200">
                {% for product in products %}
                    {% include 'product.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}