{% extends "_base.html" %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const ctx = document.getElementById('priceChart').getContext('2d');
        const prices = {{ product.prices|tojson }};

        const data = {
            labels: prices.map(price => price.date),
            datasets: [{
                label: 'Price over Time',
                data: prices.map(price => price.price),
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Price (zł)'
                        }
                    }
                }
            }
        };

        new Chart(ctx, config);
    });
</script>
{% endblock %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-2xl font-bold mb-4">{{ product.name }}</h2>
        <div class="mb-2">
            <span class="text-gray-600 font-semibold">Shop ID:</span>
            <span class="text-gray-800">{{ product.shop_id }}</span>
        </div>
        <div class="mb-2">
            <span class="text-gray-600 font-semibold">Category:</span>
            <span class="text-gray-800">{{ product.category }}</span>
        </div>
        <div class="mb-2">
            <span class="text-gray-600 font-semibold">Model:</span>
            <span class="text-gray-800">{{ product.model }}</span>
        </div>
        <p class="text-gray-800 mb-4">{{ product.description }}</p>
        <h3 class="text-xl font-semibold mb-2">Prices</h3>
        <ul class="list-disc list-inside">
            {% for price in product.prices %}
                <li class="text-gray-800">{{ price.date }} | {{ price.price }} zł</li>
            {% endfor %}
        </ul>

        <canvas id="priceChart" class="w-full h-64"></canvas>
    </div>
</div>
{% endblock %}
