{% extends "_base.html" %}

{% block script %}

<script>
    htmx.on('htmx:afterSwap', function (event) {
        document.getElementById("contentInput").value = ""
    });
</script>
{% endblock %}


{% block content %}
<div class="bg-slate-50 max-w-screen-lg">
    <h1 class="text-3xl font-bold uppercase">Simple Site</h1>
    <p>This is just a simple site for you</p>
</div>

<form id="todoForm" class="uk-form-horizontal" hx-post="/source" hx-swap="beforeend" hx-target="#todoItems"
      hx-trigger="submit">
    <div class="uk-margin uk-inline uk-width-1-1" uk-margin>
        <span class="uk-form-icon" uk-icon="icon: plus"></span>
        <input id="contentInput" autocomplete="off" class="uk-input" type="text" name="url"
               placeholder="Url to watch...">
    </div>
</form>

<ul id="todoItems" class="uk-list uk-list-divider" hx-target="closest li" hx-swap="outerHTML">
    {% for source in sources %}
    {% include 'source.html' with context %}
    {% endfor %}

</ul>
{% endblock %}
