<link href="{{ url_for('static', path='/navbar.css') }}" rel="stylesheet">


<header class="header" id="header">
    <nav class="nav container">
        <a href="/" class="nav__logo">Media Expert</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/source" class="nav__link">Sources</a>
                </li>
            </ul>

            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>

        <div class="nav__actions">
            <i class="ri-search-line nav__search" id="search-btn"></i>
            <i class="ri-user-line nav__login" id="login-btn"></i>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </div>
    </nav>
</header>
