{% extends "_base.html" %}

{% block script %}
<script>
    htmx.on('htmx:afterSwap', function (event) {
        document.getElementById("contentInput").value = ""
    });
</script>
{% endblock %}
{% block style %}
<link href="{{ url_for('static', path='/products.css') }}" rel="stylesheet">{% endblock %}

{% block content %}

<div class="container">
    <div>
        <h2 class="productHeader">Products</h2>
        <div class="table-responsive">
            <div>
                <table>
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Model
                        </th>
                    </tr>
                    </thead>
                    <tbody id="productList">
                    {% for product in products %}
                    {% include 'product.html' %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}