{% extends "_base.html" %}

{% block style %}
<link href="{{ url_for('static', path='/sources.css') }}" rel="stylesheet">
{% endblock %}

{% block script %}

<script>
    htmx.on('htmx:afterSwap', function (event) {
        document.getElementById("contentInput").value = ""
    });
</script>
{% endblock %}


{% block content %}
<div class="container">
    <div>
        <h2 class="productHeader">Sources</h2>

        <form id="todoForm" hx-post="/source" hx-swap="beforeend" hx-target="#todoItems"
              hx-trigger="submit">
            <div>
            <input id="contentInput" autocomplete="off" type="text" name="url" placeholder="Url to watch...">
            </div>
        </form>

        <ul id="todoItems" class="list-disc list-inside">
            {% for source in sources %}
                {% include 'source.html' %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}